<header>
  <div class="props">
    <div class="label">{{label}}</div>
    <div class="meta">(id: {{id}})</div>
  </div>

  <div class="badges">
    <div class="badge">dirty: {{dirty}}</div>
    <div class="badge">touched: {{touched}}</div>
    <div class="badge">valid: {{valid}}</div>
  </div>

  <div class="actions">
    <button *ngIf="listItem" (click)="remove()">Remove</button>
  </div>
</header>

<main>
  <select #select [ngModel]="value" (change)="setValue(select.value)">
    <option [value]="null">- None -</option>
    <option *ngFor="let option of valueOptions" [value]="option.value">{{option.label}}</option>
  </select>
</main>
