<header>
  <div class="props">
    <div class="label">{{label}}</div>
    <div class="meta">(id: {{id}})</div>
  </div>

  <div class="badges">
    <div class="badge">dirty: {{dirty}}</div>
    <div class="badge">touched: {{touched}}</div>
    <div class="badge">valid: {{valid}}</div>
  </div>

  <div class="actions">
    <button *ngIf="listItem" (click)="remove()">Remove</button>
  </div>
</header>

<main>
  <div class="items" *ngIf="items?.length">
    <ng-container *ngFor="let item of items" [appOutlet]="item"></ng-container>
  </div>
  <div class="empty" *ngIf="!items?.length">{{emptyMessage}}</div>

  <button class="add" (click)="addListItem()">{{addLabel}}</button>
</main>
