:host {
  display: block;
  border: 1px dashed #ccc;
  padding: 8px;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  main {
    .items {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .add {
      margin-top: 8px;
    }
  }
}
